[user]
name = "Noah Bogart"
email = "noah.bogart@hey.com"

[ui]
editor = "nvim"
# diff-editor = "vimdirdiff"
# diff-formatter = ":git"
default-command = "-h"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[git]
write-change-id-header = true

[templates]
git_push_bookmark = '"nb/push-" ++ change_id.short()'

[remotes.origin]
auto-track-bookmarks = "*"

[revsets]
log = 'present(@) | ancestors(immutable_heads().., 3) | present(trunk())'

[aliases]
tug = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark move --from "closest_bookmark(@)" --to "closest_pushable(@)"
else
  jj bookmark move --to "closest_pushable(@)" "$@"
fi
""", ""]
mine = ["bookmark", "list", "-r", "mine()"]

[revset-aliases]
"open()" = "(mine() ~ ::trunk()) ~ heads(empty())"
"closest_bookmark(to)" = '''
  coalesce(
    heads(first_ancestors(to) & bookmarks()),
    heads(ancestors(to) & bookmarks())
  )
'''
"closest_pushable(to)" = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
