; Put this in ~/.gitconfig, leave the rest
; [include]
; 	path = ~/dotfiles/git/.gitconfig
[alias]
	graph = log --graph --all --decorate --stat --date=iso
	lg = log --graph --pretty=format:'%C(auto)%h%Creset -> %d %s %Cgreen(%cr) %C(bold magenta)<%an>%Creset'
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	praise = blame
	today = log --since=00:00:00 --all --no-merges --oneline
	blamo = log -p -M --follow --stat --
	pap = pull --all --prune
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
[core]
	hooksPath = ~/dotfiles/git/hooks
	editor = gvim -f -i NONE
[commit]
	template = ~/dotfiles/git/.gitmessage
; [credential]
; 	helper = wincred
[diff]
	indentHeuristic = on
	colorMoved = on
; [user]
; 	name = Noah Bogart
; 	email = noah.bogart@hey.com
