; Put this in ~/.gitconfig, leave the rest
; [include]
; 	path = ~/dotfiles/git/.gitconfig
[alias]
	graph = log --graph --all --decorate --stat --date=iso
	lg = log --graph --pretty=format:'%C(auto)%h%Creset -> %d %s %Cgreen(%cr) %C(bold magenta)<%an>%Creset'
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	praise = blame
	today = log --since=00:00:00 --all --no-merges --oneline
	blamo = log -p -M --follow --stat --
	lint-ruby = "!git diff origin/master --name-only | xargs ls -1 2>/dev/null | rg '\\.rb$' | rg -v 'schema.rb' | xargs rubocop -a"
	pap = pull --all --prune
[core]
	hooksPath = ~/dotfiles/git/hooks
	editor = gvim -f -i NONE
; [commit]
; 	template = ~/dotfiles/git/.gitmessage
; [credential]
; 	helper = wincred
[diff]
	indentHeuristic = on
	colorMoved = on
; [user]
; 	name = Noah Bogart
; 	email = noah.bogart@hey.com
