; Put this in ~/.gitconfig, leave the rest
; [include]
; 	path = ~/dotfiles/git/.gitconfig
[alias]
	; one commit per line, pretty colors, graph style
	lg = log --graph --pretty=format:'%C(auto)%h%Creset -> %d %s %Cgreen(%cr) %C(bold magenta)<%an>%Creset'
	; update all refs, prune deleted remote branches
	pap = pull --all --prune
	; we're not here to blame anyone
	praise = blame
	; what have I done today?
	today = log --since=00:00:00 --all --no-merges --oneline --not --remotes
	; see all changes to a given file in reverse chronological order
	blamo = log -p -M --follow --stat --
	; sort branches by recently touched, show commit subject and committer
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	difft = difftool
[core]
	hooksPath = ~/dotfiles/git/hooks
	editor = gvim -f -i NONE
[commit]
	template = ~/dotfiles/git/.gitmessage
[diff]
	indentHeuristic = on
	colorMoved = on
	tool = difftastic
[pager]
	difftool = true
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
; [user]
; 	name = Noah Bogart
; 	email = noah.bogart@hey.com
