.DS_Store
.cache
.vim/

# ignore everything in jj/ by default, but allow the global config and prompt
jj/
!jj/config.toml
!jj/jj-prompt.sh

# likewise with zsh/ and .zshrc
zsh/*
!zsh/.zshrc
zsh/conf.d/*
!zsh/conf.d/.keep
