directory: ~/Music
library: ~/.local/share/beets/musiclibrary.db

per_disc_numbering: yes

item_fields:
    multidisc: 1 if disctotal > 1 else 0

paths:
  default: $albumartist/$album%aunique{}/%if{$multidisc,$disc-}$track $title

import:
  languages: en
  move: yes

match:
  preferred:
    media:
      - 'Digital Media|File'
      - 'CD'
    original_year: yes

plugins:
  - convert
  - edit
  - embedart
  - fetchart
  - importreplace
  - inline
  - jellyupdate
  - lastgenre
  - musicbrainz
  - zero

convert:
  auto: true
  never_convert_lossy_files: true
  # command: ffmpeg -i $source -vn -ar 44100 -ac 2 -b:a 320k $dest
  extension: mp3

importreplace:
  replacements:
    - item_fields: title artist artist_sort artist_credit
      album_fields: album artist artist_sort artist_credit
      replace:
        '[\u2018-\u201B]': ''''
        '[\u201C-\u201F]': '"'
        '[\u2010-\u2015]': '-'
        '[\u2026]': '...'

jellyupdate:
  secure: false
  apikey: d3df706030474e308225f8449d98f4a7
  url: http://localhost:8096

lastgenre:
  prefer_specific: yes

zero:
  fields: artist_sort artists_sort albumartist_sort albumartists_sort
  update_database: true
