{:log-path "/private/tmp/clojure-lsp.out"
 :use-metadata-for-privacy? true
 :keep-require-at-start? false
 :text-document-sync-kind :full
 :auto-add-ns-to-new-files? true
 :lint-project-files-after-startup? true
 :additional-snippets [{:name "wrap-let-sexpr$"
                        :detail "Wrap in let sexpr"
                        :snippet "(let [$1] $0$current-form)"}]
 :dependency-scheme "jar"}
